.container{
   text-align: center;
   align-items: center;
    margin-left: 33%;
    margin-top: 10%;
    background-color: rgb(235, 225, 225);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

}

#result{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #f46e21;
}
button{
   border: none;
   padding: 10px;
   background-color: #1070ed;
   color: white;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;  
   
}
body{
    background-color: rgba(57, 112, 240, 0.631);
}
h1{
    color: rgb(0, 128, 90);
}
h3{
    color: #090505;
}